/**
 * Btn
 */

.btn {
  display: inline-block;
  padding: 7px 15px;
  font-size: 10px;
  font-family: 'Proxima Nova Ltlight';
  color: #3b41c1;
  letter-spacing: 1px;
  border: 1px solid #3b41c1;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s ease-in;

  &:hover {
    color: #fff;
    background-color: #3b41c1;
    text-decoration: none;
  }

  &.__white {
    color: #fff;
    border-color: #fff;

    &:hover {
      color: #000;
      background-color: #fff;
    }
  }
}

@media screen and (min-width: 992px) {
  .btn {
    padding: 10px 25px;
    font-size: 13px;
    letter-spacing: 1.3px;
    border-radius: 10px;
  }
}